{{#each locations as |location|}}
<div class="col-lg-12">
  <div class="col hourly-info" data-id="{{location.id}}">
    <div class="locationTime" data-item-time="{{location.time}}">Time: {{location.time}}:00</div>
    <div class="locationTemp" data-item-temp="{{location.temp}}">{{location.temp}}°F</div>
    <div class="locationSummary" data-item-summary="{{location.summary}}">{{location.summary}}</div>
  </div>
</div>
{{/each}}
